 <div class="container py-5 my-5">
    <div class="text-center mb-5 my-5">
      <p class="lead">
        Fill out the form below to connect with me. I’ll get back to you soon to
        discuss your project or answer any questions.
      </p>
    </div>

    <div class="row align-items-center">
      <div class="col-md-5 mb-4 d-flex flex-column align-items-start">

        <!-- Heading -->
        <h2 class="mb-2">
          Let’s Connect and
          <span class="gradient-text">Explore</span>
        </h2>

        <!-- Sub Text -->
        <p class="lead mb-4">
          Open to internships, projects
          <span class="gradient-text">and collaborative development.</span>
        </p>

        <!-- Phone -->
        <div class="d-flex align-items-center mb-3">
          <img src="assets/phone-solid.svg" alt="" height="22" class="me-2" />
          <span class="fw-semibold me-1">Phone:</span>
          <span>+91-7200481124</span>
        </div>

        <!-- Email -->
        <div class="d-flex align-items-center mb-3">
          <img src="assets/envelope-solid.svg" alt="" height="22" class="me-2" />
          <span class="fw-semibold me-1">Email:</span>
          <span>rahul.810.n&#64;gmail.com</span>
        </div>

        <!-- Location -->
        <div class="d-flex align-items-center">
          <img src="assets/location-dot-solid.svg" alt="" height="22" class="me-2" />
          <span class="fw-semibold me-1">Location:</span>
          <span>Alencode, Nagercoil, Tamil Nadu - 629802</span>
        </div>

      </div>

<div class="card shadow-con" style="max-width: 720px; margin: auto;">
  <div class="card-body" style="padding: 2rem;">
    <h4 class="card-title mb-4 text-primary fw-semibold">Fill out the Details</h4>
    <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName" class="form-label">Your name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            required
            placeholder="Enter Your Name"
          />
          <div class="invalid-feedback">Valid Name is required.</div>
        </div>

        <div class="col-md-6 mb-3">
        <label for="email" class="form-label">
          Phone Number
        </label>
        <input
          type="tel"
          class="form-control"
          id="phone-number"
          placeholder="+123-459-678"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
        />
        <div class="invalid-feedback">
          Please enter a Phone Number.
        </div>
      </div>
      </div>

      <div class="row">
      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">
          Email <span class="text-muted">(Mandatory)</span>
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="you@example.com"
        />
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">
          Subject
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder=""
        />
        <div class="invalid-feedback">
          Please enter a Subject.
        </div>
      </div>
      </div>

      <div class="mb-3">
        <label  for="email" class="form-label">
          Message
        </label><br>
        <textarea id="text" name="text" style="width: 100%;">
        </textarea>
        <div class="invalid-feedback">
          Please enter a valid Message.
        </div>
      </div>


      <div class="d-grid mt-4 ">
        <a
            class="elementor-button elementor-button-link elementor-size-sm"
            href="#"
            style="display: flex; justify-content: center; align-items: center"
          >
            <span class="elementor-button-content-wrapper">
              <span
                class="elementor-button-text"
                style="color: white; letter-spacing: 10px; font-weight: 600"
                >Submit
              </span>
            </span>
          </a>
      </div>
    </form>
  </div>
</div>
</div>
</div>

